
<h2>Edit infor:</h2>
<div>
    <label>Movie name: 
        <input [ngModel]="movie.name" placeholder="enter Movie name">
    </label>
</div>
<div>
    <label>Release: 
        <input [(ngModel)]="movie.release" placeholder="enter release">
    </label>
</div>

<h2>My list Movie: {{'2020-01-01' | date}}</h2>

<!-- <ol class="movies">
    <li class= "movieListItem" *ngFor="let eachMovie of movies">
         {{eachMovie.name}} - {{eachMovie.releaseYear}}
    </li>
</ol> -->



<!-- <div class="activity-card">
    <h5>Recent activity</h5>
    
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Team</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>App Development</td>
                    <td>15 Aug, 2020</td>
                    <td>22 Aug, 2020</td>
                    <td class="td-team">
                        <div class="img-1"></div>
                        <div class="img-2"></div>
                        <div class="img-3"></div>
                    </td>
                    <td>
                        <span class="badge success">Success</span>
                    </td>
                </tr>
                <tr>
                    <td>Logo Design</td>
                    <td>15 Aug, 2020</td>
                    <td>22 Aug, 2020</td>
                    <td class="td-team">
                        <div class="img-1"></div>
                        <div class="img-2"></div>
                        <div class="img-3"></div>
                    </td>
                    <td>
                        <span class="badge warning">Processing</span>
                    </td>
                </tr>
                <tr>
                    <td>Server setup</td>
                    <td>15 Aug, 2020</td>
                    <td>22 Aug, 2020</td>
                    <td class="td-team">
                        <div class="img-1"></div>
                        <div class="img-2"></div>
                        <div class="img-3"></div>
                    </td>
                    <td>
                        <span class="badge success">Success</span>
                    </td>
                </tr>
                <tr>
                    <td>Front-end Design</td>
                    <td>15 Aug, 2020</td>
                    <td>22 Aug, 2020</td>
                    <td class="td-team">
                        <div class="img-1"></div>
                        <div class="img-2"></div>
                        <div class="img-3"></div>
                    </td>
                    <td>
                        <span class="badge warning">Processing</span>
                    </td>
                </tr>
                <tr>
                    <td>Web Development</td>
                    <td>15 Aug, 2020</td>
                    <td>22 Aug, 2020</td>
                    <td class="td-team">
                        <div class="img-1"></div>
                        <div class="img-2"></div>
                        <div class="img-3"></div>
                    </td>
                    <td>
                        <span class="badge success">Success</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
