<nav class="navbar navbar-expand-md navbar-light fixed-top shadow-sm bg-light">
    <div class="container-lg">
        <a class="navbar-brand text-danger fw-bold fs-4 pl-5" href="#home">
            <i class="fa fa-diamond" aria-hidden="true"></i> LT_BC</a>
        <!-- <div class="dropdown">
            <button class="btn btn-secondary btn-danger px-3" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#home">Home</a>
              <a class="dropdown-item" href="#about">About</a>
              <a class="dropdown-item" href="#service">Services</a>
              <a class="dropdown-item" href="#portfolio">Portfolio</a>
              <a class="dropdown-item" href="#testimonials">Testimonials</a>
              <a class="dropdown-item" href="#contact">Contact</a>
            </div>
        </div> -->
        <button class="navbar-toggler bg-danger px-3" type="button" data-toggle="collapse"
			data-target="#navbarResponsive">
			<span class="navbar-toggler-icon "></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
			<ul class="navbar-nav ml-auto ">
				<li class="nav-item">
					<a class="nav-link active text-danger fw-bold" href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-danger fw-bold" href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-danger fw-bold" href="#service">Services</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="#portfolio">Portfolio</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="#testimonials">Testimonials</a>
				</li> -->
				<li class="nav-item">
					<a class="nav-link text-danger fw-bold" href="#contact">Contact</a>
				</li>
        <li class="nav-item">
					<a class="nav-link dropdown-toggle fw-bold" data-toggle="dropdown"
              href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-o text-danger" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item text-danger fw-bold" href="#">Profile</a>
            <a class="dropdown-item text-danger fw-bold"  href="#">Settings</a>
            <div class="dropdown-divider bg-danger"></div>
            <a *ngIf="userStatus" class="dropdown-item text-danger fw-bold"
                (click)="logout()">Sign Out</a>
        </div>
				</li>
			</ul>
		</div>
    </div>
</nav>
