<div class="displayTable">
  <div class="displayTableCell">
    <form  [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()"class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center text-white">Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input type="text" class="formControl" formControlName="email" placeholder="Email Address..." #passwordResetEmail required>
      </div>

      <div class="formGroup">
        <button type="submit" class="btn btnPrimary" value="Reset Password">Reset Password</button>
      </div>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect text-white" routerLink="/login">Log In</span></span>
      </div>
    </form>


  </div>
</div>
