

  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="main">
      <div class="progress_bar" id="Bar"></div>
      <img src="../../../assets/img/bgg.jpg" alt="" class="img-responsive" id="bg">
      <div class="navbar">
        <a id="logo">卐 &nbsp;E-Psychicism</a>
        <a id="responsive_menu"><i class='bx bxs-chevron-down' ></i></a>

        <div class="nav_content">
          <li><a href="#">Home</a></li>
          <li><a [routerLink]="['/user/blog']">Blogs</a></li>
          <li><a href="#top_tracks">Tracks</a></li>
          <li><a href="#user_comments">Comments</a></li>
          <li><a href="#">Contact</a></li>
          <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" >start for free</a></li>
        </div>

      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button"
            id="dropdownMenuButton menu_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='bx bx-menu-alt-left'></i>
        </button>
        <div class="side_menu dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a href="#"><i class='bx bx-category dropdown-menu'></i></a></li>
          <li><a href="#"><i class='bx bx-tv dropdown-menu'></i></a></li>
          <li><a href="#"><i class='bx bxs-movie-play dropdown-menu'></i></a></li>
          <li><a href="#"><i class='bx bxs-message-square-detail dropdown-menu'></i></a></li>
          <li><a href="#"><i class='bx bx-merge dropdown-menu'></i></a></li>
          <li><a href="#"><i class='bx bxs-cart-add dropdown-menu'></i></a></li>
        </div>
      </div> -->
      </div>

         <!--  mid part -->
      <div class="mid_part">
        <img src="../../../assets/img/.jpg" alt="">
        <div class="description">
          <p id="A_name">Liam An</p>
          <p>co-founder - Manager</p>
          <br>
          <div class="author_desc">
             <p>It is a long established fact that a reader will be distracted the readable content of a page at layout.</p>
          </div>

          <div class="buttons">
             <button><i class='bx bx-play'></i></button>
             <button><i class='bx bxs-like' ></i></button>
             <button><i class='bx bx-share-alt'></i></button>
             <button><i class='bx bx-bookmark-alt'></i></button>
          </div>
        </div>
      </div>

          <!-- tracks part -->
      <div class="top_tracks" id="top_tracks">
        <p id="heading"><i class='bx bxs-playlist'></i>&nbsp;&nbsp;Top Tracks</p>
        <div id="track"></div>

        <div id="track">
          <img src="../../../assets/img/song_img1.jpg" alt="">
          <div id="actions">
            <a href="#"><i class='bx bx-heart' ></i></a>
            <a id="play_pause"><i class='bx bx-play'></i></a>
          </div>

          <audio src="songs/2.mp3" id="music"></audio>

          <div id="song_desc">
             <p>dev ideas favourite song</p>
             <p>Devideas</p>
             <p id="total_download"><i class='bx bx-download'></i>&nbsp;&nbsp;2000+</p>
             <p id="message">New</p>
          </div>
          <div id="actions_2">
            <p><a href="#"><i class='bx bx-share' ></i></a></p>
            <p><a href="2.mp3" download><i class='bx bx-download'></i></a></p>
          </div>
        </div>

        <div id="track">
          <img src="../../../assets/img/song_img2.jpg" alt="">
          <div id="actions">
            <a href="#"><i class='bx bx-heart' ></i></a>
            <a id="play_pause"><i class='bx bx-play'></i></a>
          </div>
          <audio src="songs/1.mp3" id="music"></audio>

          <div id="song_desc">
            <p>dev ideas favourite song</p>
             <p>Devideas</p>
             <p id="total_download"><i class='bx bx-download'></i>&nbsp;&nbsp;2000+</p>
             <p id="message">New</p>
          </div>

          <div id="actions_2">
            <p><i class='bx bx-share' ></i></p>
            <p><a href="1.mp3" download><i class='bx bx-download'></i></a></p>
          </div>
        </div>

        <div id="track">
          <img src="../../../assets/img/song_img2.jpg" alt="">
          <div id="actions">
            <a href="#"><i class='bx bx-heart' ></i></a>
            <a id="play_pause"><i class='bx bx-play'></i></a>
          </div>
          <audio src="songs/3.mp3" id="music"></audio>

          <div id="song_desc">
             <p>dev ideas favourite song</p>
               <p>Devideas</p>
               <p id="total_download"><i class='bx bx-download'></i>&nbsp;&nbsp;2000+</p>
               <p id="message">New</p>
          </div>

          <div id="actions_2">
            <p><i class='bx bx-share' ></i></p>
            <p><a href="3.mp3" download><i class='bx bx-download'></i></a></p>
          </div>
        </div>

        <div id="track">
          <img src="../../../assets/img/song_img1.jpg" alt="">
          <div id="actions">
            <a href="#"><i class='bx bx-heart' ></i></a>
            <a id="play_pause"><i class='bx bx-play'></i></a>
          </div>
          <audio src="songs/4.mp3" id="music"></audio>

          <div id="song_desc">
             <p>dev ideas favourite song</p>
               <p>Devideas</p>
               <p id="total_download"><i class='bx bx-download'></i>&nbsp;&nbsp;2000+</p>
          </div>

          <div id="actions_2">
            <p><i class='bx bx-share' ></i></p>
            <p><a href="4.mp3" download><i class='bx bx-download'></i></a></p>
          </div>
        </div>

        <div id="track">
          <img src="../../../assets/img/song_img2.jpg" alt="">
          <div id="actions">
            <a href="#"><i class='bx bx-heart' ></i></a>
            <a id="play_pause"><i class='bx bx-play'></i></a>
          </div>
          <audio src="songs/5.mp3" id="music"></audio>

          <div id="song_desc">
             <p>dev ideas favourite song</p>
               <p>Devideas</p>
               <p id="total_download"><i class='bx bx-download'></i>&nbsp;&nbsp;2000+</p>
          </div>

          <div id="actions_2">
            <p><i class='bx bx-share' ></i></p>
            <p><a href="5.mp3" download><i class='bx bx-download'></i></a></p>
          </div>
        </div>

      </div>

          <!-- user comments part -->
      <div class="user_comments" id="user_comments">
        <p id="heading"><i class='bx bx-comment-detail'></i>&nbsp;&nbsp;Comments</p>

             <div class="comments">

                <div class="comment">
                  <div id="user_p">
                    <p><i class='bx bx-user' ></i>&nbsp;&nbsp;karl rock</p>
                    <p></p>
                  </div>
                  <div id="user_c">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has</p>
                    <div id="social">
                      <a><i class='bx bxl-facebook-circle' ></i></a>&nbsp;
                      <a><i class='bx bxl-instagram-alt' ></i></a>
                    </div>
                  </div>
                </div>

                <div class="comment">
                  <div id="user_p">
                    <p><i class='bx bx-user' ></i>&nbsp;&nbsp;karl rock</p>
                    <p></p>
                  </div>
                  <div id="user_c">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has</p>
                    <div id="social">
                      <a><i class='bx bxl-facebook-circle' ></i></a>&nbsp;
                      <a><i class='bx bxl-instagram-alt' ></i></a>
                    </div>
                  </div>
                </div>

                <div class="comment">
                  <div id="user_p">
                    <p><i class='bx bx-user' ></i>&nbsp;&nbsp;karl rock</p>
                    <p></p>
                  </div>
                  <div id="user_c">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has</p>
                    <div id="social">
                      <a><i class='bx bxl-facebook-circle' ></i></a>&nbsp;
                      <a><i class='bx bxl-instagram-alt' ></i></a>
                    </div>
                  </div>
                </div>

               <div class="comment">
                  <div id="user_p">
                    <p><i class='bx bx-user' ></i>&nbsp;&nbsp;karl rock</p>
                    <p></p>
                  </div>
                  <div id="user_c">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has</p>
                    <div id="social">
                      <a><i class='bx bxl-facebook-circle' ></i></a>&nbsp;
                      <a><i class='bx bxl-instagram-alt' ></i></a>
                    </div>
                  </div>
                </div>

             </div>

      </div>

      <!-- popular creator part -->
      <div class="popular_creator">
             <p id="heading"><i class='bx bx-trophy' ></i>&nbsp;&nbsp;Popular Creator</p>
              <div class="artists_list">

                <div class="artist">
                  <img src="../../../assets/img/img2.jpg" alt="">
                  <div class="artist_desc">
                    <p>Arine Grande</p>
                    <p><i class='bx bx-like' ></i>&nbsp;&nbsp;2000+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-share' ></i>500+</p>
                  </div>

                </div>

                <div class="artist">
                  <img src="../../../assets/img/img1.jpg" alt="">
                  <div class="artist_desc">
                    <p>Arine Grande</p>
                    <p><i class='bx bx-like' ></i>&nbsp;&nbsp;2000+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-share' ></i>500+</p>
                  </div>
                </div>

                <div class="artist">
                  <img src="../../../assets/img//img2.jpg" alt="">
                  <div class="artist_desc">
                    <p>Arine Grande</p>
                    <p><i class='bx bx-like' ></i>&nbsp;&nbsp;2000+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-share' ></i>500+</p>
                  </div>
                </div>

                <div class="artist">
                  <img src="../../../assets/img//img3.jpg" alt="">
                  <div class="artist_desc">
                    <p>Arine Grande</p>
                    <p><i class='bx bx-like' ></i>&nbsp;&nbsp;2000+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-share' ></i>500+</p>
                  </div>
                </div>

                <div class="artist">
                  <img src="../../../assets/img//img2.jpg" alt="">
                  <div class="artist_desc">
                    <p>Arine Grande</p>
                    <p><i class='bx bx-like' ></i>&nbsp;&nbsp;2000+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-share' ></i>500+</p>
                  </div>
                </div>

                <div class="artist">
                  <img src="../../../assets/img//img3.jpg" alt="">
                  <div class="artist_desc">
                    <p>Arine Grande</p>
                    <p><i class='bx bx-like' ></i>&nbsp;&nbsp;2000+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-share' ></i>500+</p>
                  </div>
                </div>

                <div class="artist">
                  <img src="../../../assets/img//img2.jpg" alt="">
                  <div class="artist_desc">
                    <p>Arine Grande</p>
                    <p><i class='bx bx-like' ></i>&nbsp;&nbsp;2000+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='bx bx-share' ></i>500+</p>
                  </div>
                </div>

              </div>
      </div>

          <!-- footer part -->
      <div class="footer">
        <span id="logo">卐 &nbsp;E-Psychicism</span>
        <div class="social_handle">
          <i class='bx bxl-facebook-circle text-primary' ></i>&nbsp;
          <i class='bx bxl-instagram-alt'></i>&nbsp;
          <i class='bx bxl-google-plus-circle' ></i>
        </div>
      </div>

    </div>
  </body>
</html>
