<footer class="footer d-flex flex-row border-top py-4 fw-bold ">
    <div class="container-lg">
        <div class="row">
          <div class="col-lg-2">
            <span id="logo" class="text-danger">卐 &nbsp;E-Psychicism</span>
          </div>
          <div class="col-lg-8">
              <p class="m-0 text-center text-muted">&copy;Copyright by
              <b class="text-danger">2021 LT Company</b></p>
          </div>
          <div class="col-lg-2 justify-content-end">
            <div class="social_handle">
              <i class='bx bxl-facebook-circle' ></i>&nbsp;
              <i class='bx bxl-instagram-alt'></i>&nbsp;
              <i class='bx bxl-google-plus-circle' ></i>
            </div>
          </div>
        </div>
    </div>
</footer>
