<nav>
  <div class="nav-links">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Blog</li>
      <li>Podcast</li>
      <li>Events</li>
    </ul>
  </div>
  <div class="accounts">
    <i class="fa fa-behance"></i>&nbsp;
    <i class="fa fa-pinterest"></i>&nbsp;
    <i class="fa fa-facebook"></i>&nbsp;
    <i class="fa fa-twitter"></i>&nbsp;
    <i class="fa fa-instagram"></i>&nbsp;
    <i class="fa fa-google-plus"></i>&nbsp;
  </div>
</nav>
<section class="header">
    <h1>Blog Psychicism</h1>
    <h4>I am Liam An, I am producer !!!</h4>
</section>
<hr>
<section class="content-container">
    <div class="left-content">
      <h2>Featured Article go here</h2>
      <div class="featured-article">
        <img src="../../../../assets/img/portfolio/1.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.
            Fusce posuere, magna sed pulvinar ultricies,
            purus lectus malesuada libero, sit amet commodo magna eros quis urna</p>
      </div>
      <h3>Heading go here</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.
        Fusce posuere, magna sed pulvinar ultricies,
        purus lectus malesuada libero, sit amet commodo magna eros quis urna</p>
    </div>
    <div class="another-article">
      <h3>Another article</h3>
      <img src="../../../../assets/img/3.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.
          Fusce posuere, magna sed pulvinar ultricies,
          purus lectus malesuada libero, sit amet commodo magna eros quis urna</p>
          <button class="btn read-more-btn">Read More</button>
    </div>
    <div class="right-content">
      <div class="avatar-content">
        <img src="../../../../assets/img/profile/John Harry.png" alt="">
        <p class="author-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.
            Fusce posuere, magna sed pulvinar ultricies,
            purus lectus malesuada libero, sit amet commodo magna eros quis urna</p>
      </div>
      <div class="newsletter">
        <h5>STAY UPDATED</h5>
        <input type="email" name="" id="" placeholder="email address...">
        <button class="btn sub-btn">SUBCRIBLE</button>
      </div>
      <div class="search">
        <h5>SEARCH</h5>
        <input type="text" name="" id="" placeholder="Search...">
        <button class="search-btn">GO</button>
      </div>
      <div class="topics">
        <h5>TOPICS</h5>
        <ul>
          <li>Minimalism</li>
          <li>Travel</li>
          <li>Photography</li>
          <li>Life</li>
          <li>Family</li>
          <li>Books</li>
        </ul>
      </div>
      <div class="popular-posts">
        <h5>POPULAR POSTS</h5>
        <img src="../../../../assets/img/2.jpg" alt="">
        <p class="caption">A lovely Caption</p>
        <img src="../../../../assets/img/1.jpg" alt="">
        <p class="caption">A lovely Caption</p>
      </div>
    </div>
</section>

